@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body{
    text-align: center;
    background: #000;
    font-family: "Exo 2", sans-serif;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background: #000;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.wrapper span{
    position: fixed;
    bottom: -180px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: -1;
    background-color: #000;
    box-shadow: 0 0 50px #A242A3,
                0 0 100px #A242A3,
                0 0 150px #A242A3,
                0 0 200px #A242A3;
    animation: animate 8s linear infinite;
}

.wrapper span:nth-child(1){
    left: 60px;
    animation-delay: .6s;
}

.wrapper span:nth-child(2){
    left: 10%;
    animation-delay: 3s;
    width: 60px;
    height: 60px;
}

.wrapper span:nth-child(3){
    left: 20%;
    animation-delay: 2s;
}

.wrapper span:nth-child(4){
    left: 30%;
    animation-delay: 5s;
    width: 80px;
    height: 80px;
}

.wrapper span:nth-child(5){
    left: 40%;
    animation-delay: 1s;
}

.wrapper span:nth-child(6){
    left: 50%;
    animation-delay: 7s;
}

.wrapper span:nth-child(7){
    left: 60%;
    animation-delay: 6s;
    width: 100px;
    height: 100px;
}

.wrapper span:nth-child(8){
    left: 70%;
    animation-delay: 8s;
}

.wrapper span:nth-child(9){
    left: 80%;
    animation-delay: .6s;
    width: 90px;
    height: 90px;
}

.wrapper span:nth-child(10){
    left: 90%;
    animation-delay: 4s;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh !important;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-animation h2 img{
    margin-top: 75px;
    width: 375px;
}

.content-animation p{
    padding: 20px;
    font-size: 30px;
}

.navbar{
    display: flex;
    margin-right: 10px;
}

.logo{
    margin-left: 30px;
}

.logo a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

.navbar ul{
    float: right;
    text-decoration: none;
}

.navbar ul li{
    text-decoration: none;
    display: inline-block;
    line-height: 20px;
    margin: 0 5px;
}

.navbar ul li a{
    padding: 21px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 14px;
}

li a.active, li a:hover{
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.navbar a:hover{
    color: #A242A3;
    text-shadow: 0 0 10px #A242A3, 0 0 20px #A242A3, 0 0 40px #A242A3;
}

.title{
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

p{
    margin-bottom: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 100px;
}

.content{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau{
    height: 100vh !important;
}

.container-download{
    display: flex;
    border-radius: 1rem;
}

.div-download {
    background: #171717;
    height: 15rem;
    width: 25rem;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgb(0, 0, 0, .5);
    margin: 5px;
    transition: .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.div-download:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 10px #A242A3, 
                0 0 15px #A242A3, 
                0 0 20px #A242A3;
    transition-delay: 0.15s;
}

.div-download h3 {
    color: #A242A3;
    font-size: 25px;
    padding: 1rem;
}

.div-content-text {
    text-align: left;
}

.div-content-text p{
    padding: 1rem;
    font-size: 18px;
}

.box-container{
    display: flex;
    margin-top: 20px;
    text-align: center;
}

.box-container .box{
    height: 8rem;
    width: 15rem;
    text-align: center;
    border-radius: 1rem;
    margin: 5px;
    transition: .3s;
}

.box-container .box:hover{
    box-shadow: 0 0 10px #A242A3, 
                0 0 15px #A242A3, 
                0 0 20px #A242A3;
}

.box-container .box a i{
    line-height: 5rem;
    color: #76358B;
    font-size: 2rem;
}

.box-container .box a{
    text-decoration: none;
}

.box-container .box a p{
    padding: 5px 0;
}

.box-container .box:hover{
    cursor: pointer;
    transition: .3s;
}

.about{
    height: 100vh !important;
}

.about-us-container{
    display: flex;
    justify-content: space-around;
}

.about-card{
    background: #000;
    padding: 10px;
    width: 40%;
    border-radius: 1rem;
    transition: .3s;
}

.about-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 10px #A242A3, 
                0 0 15px #A242A3, 
                0 0 20px #A242A3;
    transition: .3s;
}

.about-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.about-card h3{
    color: #fff;
    font-size: 23px;
    margin-bottom: 5px;
}

.about-card p{
    text-align: left;
    color: #ddd;
    font-size: 18px;
}

.contact-form .btn:hover {
    background-color: #A242A3;
}

.footer{
    height: 58vh !important;
    background-color: #000;
}

.ft{
    width: 100%;
}

.ft .group-1{
    width: 100%;
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 45px 0;
}

.ft .group-1 .box{
    
    margin: 10px;
}

.ft .group-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ft .group-1 .box figure img{
    width: 75px;
}

.ft .group-1 .box h2{
    color: #fff;
    margin-bottom: 20px;
    font-size: 15px;
} 

.ft .group-1 .box .a1{
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: #A242A3;
    transition: .3s;
}

.ft .group-1 .box .a1:hover{
    text-shadow: 0 0 10px #A242A3, 0 0 20px #A242A3, 0 0 40px #A242A3;
    transition: .3s;
}

.ft .group-1 .red-social a{
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #A242A3;
    transition: .3s;
}

.ft .group-1 .red-social a:hover{
    background-color: #A242A3;
    box-shadow: 0 0 10px #A242A3, 0 0 20px #A242A3, 0 0 40px #A242A3;
    transition: .3s;
}

.ft .group-2{
    background-color: #76358B;
    padding: 15px;
    color: #fff;
}

.ft .group-2 small{
    font-size: 15px;
}

@keyframes animate{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    80%{
        opacity: .7;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

@media (max-width: 768px) {

    .head {
        width: 97%;
    }

    .header {
        width: 52vh !important;
        height: 113vh !important;
    }

    .logo {
        font-size: 8px;
    }

    .content-animation h2 img{
        width: 175px;
    }

    .content-animation p {
        font-size: 22px;
    }

    .sau {
        width: 52vh !important;
        height: 130vh !important;
    }

    .container-download {
        display: block;
        width: 95%;
    }
    
    .div-download {
        width: 96%; 
        height: 200px; 
    }

    .div-download h3 {
        margin-top: 20px;
        font-size: 20px; 
    }
    
    .div-content-text p {
        font-size: 17px; 
    }   

    .box-container{
        display: block;
        margin-bottom: 70px;
    }
    
    .box-container .box{
        height: 6rem;
        width: 11rem;
    }
    
    .box-container .box a i{
        line-height: 4rem;
    }

    .about {
        width: 52vh !important;
        height: 150vh !important;
    }

    .about-us-container{
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
    }
    
    .about-card{
        width: 375px;
        height: 560px;
    }
    
    .about-card h3{
        font-size: 20px;
    }
    
    .about-card p{
        font-size: 17px;
    }

    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000;
        top: 58px;
        left: 100%;
        text-align: left;
        transition: all .6s;
    }

    .navbar ul li{
        display: block;
        margin: 40px;
        line-height: 50px;
    }

    .navbar ul li a{
        font-size: 16px;
    }

    #check:checked ~ ul{
        left: 220px;
    }

    .footer{
        width: 52vh !important;
        height: 80vh !important;
    }

    .ft .group-1 {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 190px;
    }

    .ft .group-1 .box figure{
        width: 100%;
        height: 100%;
    }

}
